.color-picker {
  display: flex;
  flex-flow: row nowrap;
}
.color-picker .circle-color {
  background-color: rgb(223, 233, 243);
  background-image: linear-gradient(to top, rgb(223, 233, 243) 0%, white 100%);
  border-radius: 50%;
  cursor: pointer;
  height: calc(2rem + 2px);
  line-height: 1;
  width: calc(2rem + 2px);
}

.color-picker .circle-color:not(:last-child) {
  margin-right: 1rem;
}

.color-picker .circle-color:focus {
  outline: none;
}

.color-picker .circle-color.circle-color--active {
  border: 2px solid rgba(0,0,0,.6);
}

.color-picker .circle-color.circle-color--red {
  background-color: rgb(247, 112, 98);
  background-image: linear-gradient(to top, rgb(247, 112, 98) 0%, rgb(254, 81, 150) 100%)
}

.color-picker .circle-color.circle-color--blue {
  background-color: rgb(146, 254, 157);
  background-image: linear-gradient(to right, rgb(146, 254, 157) 0%, rgb(0, 201, 255) 100%)
}

.color-picker .circle-color.circle-color--green {
  background-color: rgb(72, 198, 239);
  background-image: linear-gradient(to top, rgb(72, 198, 239) 0%, rgb(111, 134, 214) 100%)
}
