.GameBoard {
  background: white;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  width: 100%;
}
.GameBoard .GameBoard__square {
  align-items: center;
  background: white;
  box-shadow: 2px 0 0 0 #888,
    0 2px 0 0 #888,
    2px 2px 0 0 #888,
    2px 0 0 0 #888 inset,
    0 2px 0 0 #888 inset;
  cursor: pointer;
  display: flex;
  font-size: 6rem;
  justify-content: center;
  line-height: 1;
  transition: all 150ms ease-in;
  width: 33.3333%;
}
.GameBoard .GameBoard__square:first-child {
  box-shadow: 2px 0 0 0 #888,
    0 2px 0 0 #888,
    2px 2px 0 0 #888,
    2px 0 0 0 transparent inset,
    0 2px 0 0 transparent inset;
}
.GameBoard .GameBoard__square:nth-child(2n) {
  box-shadow: 2px 0 0 0 #888,
    0 2px 0 0 #888,
    2px 2px 0 0 #888,
    2px 0 0 0 #888 inset,
    0 2px 0 0 transparent inset;
}
.GameBoard .GameBoard__square:nth-child(3n) {
  box-shadow: 2px 0 0 0 transparent, /* right */
    0 2px 0 0 #888,
    2px 2px 0 0 transparent, /* bottom */
    2px 0 0 0 #888 inset, /* left */
    0 2px 0 0 transparent inset;
}
.GameBoard .GameBoard__square:nth-child(4n) {
  box-shadow: 2px 0 0 0 #888, /* right */
    0 2px 0 0 #888,
    2px 2px 0 0 transparent, /* bottom */
    2px 0 0 0 transparent inset, /* left */
    0 2px 0 0 #888 inset;
}
.GameBoard .GameBoard__square:nth-child(6n) {
  box-shadow: 2px 0 0 0 transparent, /* right */
    0 2px 0 0 #888,
    2px 2px 0 0 transparent, /* bottom */
    2px 0 0 0 #888 inset, /* left */
    0 2px 0 0 #888 inset;
}
.GameBoard .GameBoard__square:nth-child(7n) {
  box-shadow: 2px 0 0 0 #888, /* right */
    0 2px 0 0 transparent,
    2px 2px 0 0 transparent, /* bottom */
    2px 0 0 0 transparent inset, /* left */
    0 2px 0 0 #888 inset;
}
.GameBoard .GameBoard__square:nth-child(8n) {
  box-shadow: 2px 0 0 0 #888, /* right */
    0 2px 0 0 transparent,
    2px 2px 0 0 transparent, /* bottom */
    2px 0 0 0 #888 inset, /* left */
    0 2px 0 0 #888 inset;
}
.GameBoard .GameBoard__square:nth-child(9n) {
  box-shadow: 2px 0 0 0 transparent, /* right */
    0 2px 0 0 transparent,
    2px 2px 0 0 transparent, /* bottom */
    2px 0 0 0 #888 inset, /* left */
    0 2px 0 0 #888 inset;
}
.GameBoard .GameBoard__square:focus {
  outline: none;
}

.GameBoard .GameBoard__square:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}
.GameBoard .GameBoard__square:hover:not(:empty) {
  cursor: not-allowed;
}
.GameBoard .GameBoard__square:hover:empty,
.GameBoard .GameBoard__square.GameBoard__square--winner {
  background-color: #81D4FA;
  color: white;
}
@media (min-width: 720px) {
    .GameBoard {
        width: 49%;
    }
    .GameBoard .GameBoard__square {
      width: 32%;
    }
}
