.GameConfigBar {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
  padding: 1.5rem;
  width: 100%;
}
.GameConfigBar > * {
  flex: 1 0 auto;
}

.GameConfigBar .GameConfigBar__timer {
  display: flex;
  flex-flow: column nowrap;
  flex: 2 0 auto;
  align-items: center;
  justify-content: center;
  text-align: center;
}
