.GameBoard {
  display: flex;
  width: 100%;
  flex-flow: row wrap;
  justify-content: flex-start;
}
.GameBoard .GameBoard__square {
  width: 33.3333%;
  box-shadow: 2px 0 0 0 #888, 
    0 2px 0 0 #888, 
    2px 2px 0 0 #888,
    2px 0 0 0 #888 inset, 
    0 2px 0 0 #888 inset;
  border-collapse: collapse;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 6rem;
  line-height: 1;
  transition: all 150ms ease-in;
}

.GameBoard .GameBoard__square:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}
.GameBoard .GameBoard__square:hover:not(:empty) {
  cursor: not-allowed;
}
.GameBoard .GameBoard__square:hover:empty,
.GameBoard .GameBoard__square.GameBoard__square--winner {
  background-color: #81D4FA;
  color: white;
}
@media (min-width: 720px) {
    .GameBoard {
        width: 49%;
    }
    .GameBoard .GameBoard__square {
      width: 32%;
    }
}
