.GameStatus {
  padding: 1.5rem 1.5rem;
  flex: 1 0;
  text-align: center;
}
.GameStatus__current-player {
  margin-bottom: 1rem;
}
@media (min-width: 720px) {
  .GameStatus {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
  }
  .GameStatus__current-player {
    display: flex;
    flex-flow: column nowrap;
    flex: 1 0;
    width: 100%;
    text-align: center;
    font-size: 3rem;
    margin: 0;
  }
  .GameStatus__current-player__player {
    font-size: 5em;
  }
}
