.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

.App-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
}

.App-intro {
    font-size: large;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
    border-radius: 0;
    box-shadow: none;
}

body {
    font-family: Fira Code, Roboto Mono, monospace;
}

.board {
    display: flex;
    width: 600px;
    height: 600px;
    flex-flow: row wrap;
    justify-content: flex-start;
}

.board .square {
    height: 200px;
    width: 200px;
    border: 5px solid rgba(0, 0, 0, 0.8);
    border-collapse: collapse;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 6rem;
    line-height: 1;
    transition: all 150ms ease-in;
}

.board .square:hover {
    cursor: pointer;
    background-color: #80cd92;
}
.board .square.square--winner {
  background: #4CAF50;
  color: white;
}