* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
    border-radius: 0;
    box-shadow: none;
}

html {
    font-family: Fira Code, Roboto Mono, monospace;
    font-size: 14px;
}
body {
  background: #f5f5f5;
  color: #222;
}
h1, h2, h3, h4, thead {
  font-family: Roboto, Helvetica neue, Helvetica, San Francisco, Segoe UI, Open Sans, sans-serif;
}
.flex--spandex {
    flex: 1 0;
}

.btn {
    --text-shadow-color: #888;
    color: white;
    cursor: pointer;
    padding: 1em;
    line-height: 1;
    border-radius: 0.2em;
    text-shadow: 0px 1px 0px var(--text-shadow-color);
    text-transform: uppercase;
    font-family: Roboto, Open Sans, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.btn.btn--big {
    font-weight: bolder;
}

.btn.btn--circle {
    border-radius: 50%;
    height: 1.5em;
    padding: 0;
    width: 1.5em;
}

.btn.btn--transparent {
  background: transparent;
}
.btn.btn--warn {
    --text-shadow-color: #d32f2f;
    background: #f44336;
}

.btn.btn--success {
    background: #03a9f4;
    --text-shadow-color: #0288D1;
}
.btn.btn--accent {
    background: #673AB7;
    --text-shadow-color: #4527A0;
}

.text--success {
    color: #03a9f4
}

.text--accent {
    color: #673AB7
}

.text--warn {
    color: #d32f2f
}

table {
  width: 100%;
  max-width: 100%;
  background: white;
  margin-bottom: .25em;
  border-collapse: collapse;
}

th,
td {
  padding: 1em .5em;
  text-align: left;
}
td.is--numeric {
  text-align: right;
}
th,
td {
  border-bottom: 1px solid rgba(0, 0, 0, .2);
}
tbody {
  color: rgba(0,0,0, .7)
}
