.AboutTable .profile-pic {
  width: 2rem;
  height: 2rem;
  position: relative;
  overflow: hidden;
}
.AboutTable .profile-pic:after {
  background: #03a9f4;
  bottom: 0;
  content: '';
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}
