.GameStadistics {
  background: #fff;
  border-radius: .15rem;
  box-shadow: 0 7px 14px rgba(0,0,0,.25), 0 5px 5px rgba(0,0,0,.22);
  flex: 1 0 auto;
  margin: 2rem 0;
  max-height: 90vh;
  max-width: 100%;
  order: 2;
  overflow: hidden;
}
.GameStadistics table thead th {
  background: #ECEFF1;
  border: 1px solid #ECEFF1;
  padding: 1.5rem .5rem;
  text-align: center;
}

.GameStadistics .btn {
  font-size: 1.5em;
}

@media (min-width: 769px) {
  .GameStadistics {
    flex: 1;
  }
}
